.sc-full {
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end !important;
    align-items: center !important;
    height: 100vh;
    width: auto;
    background-color: #002c48;
    color: #FFFFFF !important;
}

header > div > h1 {
    color: #FFFFFF;
    padding-bottom: 10vh;
}

header > .sc-header-content {
    width: 85%;
    padding-bottom: 7vh;
}

header > .sc-header-content > div > div {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header > .sc-header-content > div > div > div > img {
    margin-bottom: 0 !important;
}

header > .sc-header-content > div > div > div > p {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

header > .sc-header-content > div > div > button {
    background-color: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    margin-top: 0 !important;
}

header > .sc-header-content > div > div > button:hover {
    background-color: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
}
