.sc-section-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/mifan-studio/image/upload/v1579261491/images/sleepco/section-2-background.png");
}

.sc-section-shop > div {
    width: 93%;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.sc-section-shop > div > h1 {
    font-family: 'HypatiaSansPro';
    font-weight: 300;
    font-style: normal;
}

.sc-section-shop > div > div > div > h3 {
    font-family: 'HypatiaSansPro';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 3px;
}

.sc-section-shop > div > div > div > div > div > div > .sc-button-orange {
    border: 1px solid #d27d28;
    background-color: #d27d28;
    color: #FFFFFF;
}
