html, body {
    font-family: 'HypatiaSansPro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    background-color: #FFFFFF;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.0 !important;
}

p {
    font-size: 1em !important;
    line-height: 1.45 !important;
}

h1 {
    font-size: 4.5em !important;
    font-family: 'HypatiaSansPro' !important;
    font-weight: 200 !important;
    font-style: normal !important;
    letter-spacing: 2px !important;
}
